@media all and (max-width: 767.9px) {
  .toTop {
    bottom: 10px;
    right: 10px;
  }
  .toTop img {
    width: 40px;
  }
  /* header */
  header {
    height: 80px;
    border-radius: 80px;
    position: relative;
  }
  .main {
    position: relative;
    top: 25%;
    left: 64px;
    width: 80%;
    height: 50%;
  }
  .navi,
  .subCategories {
    display: none;
  }
  .logo {
    line-height: 20px;
    margin-left: -40%;
    margin-top: -12px;
  }
  .logo img {
    height: 20px;
  }
  .burger {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1px;
    right: 6%;
    transition: transform 0.5s ease;
    transform-origin: center center; /* 질문: 얘 왜 제자리에서 안 돌아요ㅠㅠ */
  }
  .burger ul {
    width: 50px;
    height: 50px;
  }
  .burger li {
    width: 30px;
    height: 1px;
    border: 3px solid #000;
    border-radius: 3px;
    margin-bottom: 4px;
  }
  .burger li:last-child {
    margin-bottom: 0;
  }
  .burger li:first-child {
    margin-top: 5px;
  }
  .burger:hover li,
  .burger:active li {
    border: 3px solid #ff6ec7;
  }
  .mainMenuTab {
    position: absolute;
    top: 58px;
    right: 24px;
    width: 80%;
    height: 400px;
    z-index: 50;
    background-color: #000;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
  }
  .MTsub li:first-of-type {
    margin-top: 88px;
  }
  .mainMenuTab li {
    text-align: center;
    padding: 12px 0;
  }
  .mainMenuTab a {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.25rem;
    color: #fff;
  }
  .utils {
    display: none;
  }
  .utils_m {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    z-index: 50;
    top: 0;
    right: 0;
    width: 100%;
    height: 20%;
  }
  .utils_m li {
    float: left;
    width: 20%;
    margin-left: 0;
  }
  .utils_m img {
    width: 32px;
  }

  /* img slide */
  /* 메모, 질문: owl..? 그 점점점 추가하고 싶은데... */
  .imgSlide {
    width: 100vw;
  }
  .slideList {
    margin-left: -100vw;
  }
  .image1 {
    width: 100vw;
    background: url(../images/slide3_m.png) no-repeat center;
    background-size: cover;
  }
  .image2 {
    width: 100vw;
    background: url(../images/slide1_m.png) no-repeat center;
    background-size: cover;
  }
  .image3 {
    width: 100vw;
    background: url(../images/slide2_m.png) no-repeat center;
    background-size: cover;
  }
  .nextSlide,
  .prevSlide {
    display: none;
  }
  /* New, Best, Steady */
  .itemWindow {
    margin-bottom: 120px;
  }
  /* 탭 태래태래탭탭탭 메뉴 */
  .tabMenu {
    top: 10%;
    right: 10%;
    width: 80%;
    height: 60px;
    text-align: center;
  }
  .tabMenu li {
    width: 30%;
    height: 40px;
    display: inline-block;
  }
  .tabMenu a {
    font-size: 0.8rem;
    padding-top: 10px;
  }
  .sectionNBS {
    top: 18%;
    left: 10%;
    flex-direction: column;
    gap: 0;
    align-content: space-around;
  }
  .newCard img {
    display: none;
  }
  .newCard {
    position: relative;
    width: 90%;
    height: 30%;
    transition: background-size 0.3s ease;
  }

  .new1 {
    background: url(../images/new1.jpg) no-repeat center;
    background-size: 100% auto;
  }
  .new2 {
    background: url(../images/new2.jpg) no-repeat center;
    background-size: 100% auto;
  }
  .new3 {
    background: url(../images/new3.jpg) no-repeat center;
    background-size: 100% auto;
  }
  .newCard:hover,
  .newCard:active {
    background-size: 112% auto;
  }
  .tabCardHeadline {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3%;
    height: 50px;
    background: rgba(0, 0, 0, 0.6);
  }
  .tabCardHeadline h4 {
    font-size: 0.8rem;
    color: #fff;
  }
  .newCard img {
    display: none;
  }
  .sticker1 {
    top: 32px;
    left: -70px;
  }
  .sticker2 {
    bottom: -80px;
    right: -100px;
  }
  /* On sale */
  .saleTag {
    width: 200px;
    left: 16px;
  }
  .sticker3 {
    width: 160px;
    right: -16px;
    bottom: -50px;
  }
  .saleBoard {
    flex-direction: column;
    gap: 10px;
    align-content: space-between;
    margin-bottom: 100px;
  }
  .saleCard {
    width: 90%;
    height: 20%;
    display: flex;
  }
  .saleCardImg {
    width: 45%;
    height: 100%;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .saleCardImg img {
    width: 100%;
    display: block;
    margin-top: -32px;
  }
  .saleCardDetail {
    width: 45%;
    margin: 6%;
  }
  .saleCardDetail h4 {
    font-size: 1rem;
  }
  .saleCardDetail p {
    display: none;
  }

  /* Recommendation */
  .recommendTag {
    left: 16px;
    width: 200px;
    bottom: -120px;
  }
  .recommendBoardContainer {
    overflow: hidden; /* 컨테이너 밖의 요소 숨김 */
    position: relative;
    width: 100%; /* 화면 전체 너비 */
    height: 160px;
    margin-bottom: 84px;
    cursor: grab;
  }
  /* Recommendation Board */
  .recommendBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: transform 0.3s ease; /* 드래그가 끝난 후 부드러운 이동 */
  }
  /* Individual Recommendation Circle */
  .recoCircle {
    display: block;
    width: 160px;
    height: 160px;
    border: 3px solid #000;
    border-radius: 50%; /* 완전한 원형 */
    overflow: hidden;
  }
  .recoCircle img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  /* Magazine & Events */
  .sectionME {
    width: 100%;
    height: 1360px;
  }
  /* Magazine */
  .magazineTitle {
    height: 200px;
    transform: rotate(90deg);
    top: -124px;
    left: 24%;
  }
  .magazineSection {
    width: 90%;
    left: 5%;
  }
  .magaImage {
    width: 30%;
  }
  .magaDetail {
    width: 50%;
    height: 100px;
    top: 0;
    right: 0;
    margin: 12px 12px 12px 32px;
  }
  .magaDetail > p:nth-of-type(2) {
    display: none;
  }

  /* Events */
  .eventsTitle {
    height: 180px;
    transform: rotate(-90deg);
    bottom: 580px;
    left: 24%;
  }
  .eventsSection {
    width: 90%;
    right: 0;
    left: 5%;
    top: 720px;
  }
  .evenCard img {
    display: none;
  }
  .evenCard {
    position: relative;
    isolation: isolate;
    transition: background-size 0.3s ease;
  }
  .evenCard:after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
    inset: 0;
  }
  .even1 {
    background: url(../images/event1_1.png) no-repeat center;
    background-size: auto 108%;
  }
  .even2 {
    background: url(../images/event2_1.png) no-repeat center;
    background-size: auto 108%;
  }
  .even3 {
    background: url(../images/event3_1.png) no-repeat center;
    background-size: auto 108%;
  }
  .eventTxt {
    display: block;
    font-family: Joan, serif;
    font-weight: 100;
    writing-mode: vertical-lr;
    letter-spacing: 4px;
    font-size: 3rem;
    padding-top: 24px;
    transition: transform 0.3s ease;
    color: #fff;
  }
  .evenCard:hover p,
  .evenCard:active p {
    color: #ff6ec7;
  }
  .evenCard:hover,
  .evenCard:active {
    background-size: auto 112%;
  }

  /* footer */
  footer {
    width: 100%;
    height: 600px;
    border-left: none;
    border-right: none;
    border-top: 3px solid #000;
    padding: 32px 32px 0 32px;
  }
  footer > img {
    display: none;
  }
  .footerLeft {
    float: none;
  }
  .footerRight {
    float: none;
    margin-top: 48px;
  }
  .logoBottom img {
    height: 40px;
    margin-bottom: 2px;
  }
  .snsList li {
    margin-right: 8px;
    margin-bottom: 32px;
  }
  .email {
    font-size: 0.75rem;
  }
  .copy {
    font-size: 0.8rem;
  }
  .footerRight {
    width: 300px;
  }
  .supportMenu {
    width: 48%;
  }
  .legalMenu {
    width: 48%;
  }
  .supportMenu a,
  .legalMenu a {
    font-size: 0.85rem;
  }
  .withLove {
    font-size: 0.9rem;
  }
}
